{% extends 'layout.html' %}
{% block title %} Registration {% endblock %}
{% block content %}

       {% if request.user.username %}
           <h3>WelCome: {{request.user.username}} </h3>
            <h4><a href="/logout">logout(  {{request.user.username}} )</a> </h4>
       {% else %}
       <h4><a href="/login">Login again</a> </h4>
       {% endif %}

{% endblock %}`