{% extends 'layout.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{% load crispy_forms_tags %}


  <h3>{{ isvalidUser }}</h3>
  <form action="" method="post" novalidate>{% csrf_token %}
       {{ form | crispy }}
      <input type="submit" value="login" class="btn btn-success">

  </form>


{% endblock %}