{% extends 'layout.html' %}
{% block title %} Registration {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<h3> {{message}} </h3>
<form action="" method="post" novalidate>  {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Register Now" class="btn btn-sucess">
</form>
{% endblock %}