{% extends 'layout.html' %}
{% block content %}


{% load static %}
<link href="{% static 'css/new.css' %}"rel="stylesheet"/>
   <h3>Static files example</h3>

<img src="{% static 'images/my.jpg' %}" height="300">
<button onclick="click1()">Button1</button>
<button onclick="click2()">Button2</button>


<script src="{% static 'js/new.js'%}"></script>

<style>
    .testInternalcss1{
    color:red;
    }
    .testInternalcss2{
    color:yellow;
    }

</style>

<h4 style="color:blue;">Inline css</h4>
<h4 style="color:blue;">Internal css</h4>
<h4 class="testInternalcss1">External css</h4>
<h4 class="testInternalcss1">HI</h4>
<h4 class="externalcss">HEllo</h4>



{% endblock %}