{% extends 'layout.html' %}
{% block content %}
{% block title %} Form Example {% endblock %}
{% load crispy_forms_tags %}

<h3> Form Example </h3>
<form action="" method="post" novalidate> {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="submit" class="btn btn-warning">

</form>

{% endblock %}