{% extends 'layout.html' %}
{% block content%}
{% block title %} student login {% endblock %}

<h1 align="center">Student Info</h1>
<h3>Studentname:{{ name }}</h3>
<h3>Studentemail:{{ email }}</h3>
<h3> {{ Address.0 }}</h3>

// if-else
{% if name == " "%}
<h3>Empty</h3>
{% else %}
<h3> UserName:{{name}}</h3>
{%endif%}

// list iteration
{% for item in studentslist %}
<h3> {{ item }}</h3>>
{%endfor%}

//dictionary iteration
{% for key,value in Address.items %}
<h3>{{key}}:{{value}}</h3>
{%endfor%}





{% endblock %}