{% extends 'layout.html' %}
{% block content %}
<h3>"students info"</h3>
<form action="" method="post"> {% csrf_token %}
username:<input type="text" name="username"></body></br></br>
<input type="submit" value="submit"/>
</form>
{% endblock %}