{% extends 'layout.html' %}

{% block title%}  employe list {% endblock %}
{% block content %}

 <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Emp Name</th>
        <th>Emp Email</th>
          <th>Emp Address</th>
          <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>{{ row.id }}</td>
         <td>{{ row.emp_name }}</td>
         <td>{{ row.emp_email }}</td>
         <td>{{ row.emp_address }}</td>
        <td>
            <a href="/update?id={{row.id}}" class="btn btn-primary btn-xs">UPDATE</a>
            <a href="/delete?id={{row.id}}" onclick="return deleteItem()" class="btn btn-warning btn-xs">DELETE</a>
            <a href="/view?id={{row.id}}"class="btn btn-info btn-xs">VIEW</a>

        </td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
<script>
    function deleteItem(){
    if(confirm("Are you sure to delete this item?"))
    return true;
    else return false;

    }
</script>

{% endblock %}