{% extends 'layout.html' %}

{% block title%} Views employee {% endblock %}
{% block content %}



    <p>Id:{{ id }}</p>
    <p>name:{{ info.emp_name }}</p>
    <p>email:{{info.emp_email }}</p>
    <p>address:{{ info.emp_email }}</p>



{% endblock %}